# pycharm
.idea

# pyenv
.python-version

# used for terraform testing
local.tfvars
.terraform
.terragrunt-cache
.terraform.lock.hcl

Gemfile
Gemfile.lock

test/integration/testing-replaced.hcl

# versions.tf is generated, see make file
versions.tf